.container {
  margin: 5% 10%;
  box-sizing: border-box;
	text-align: center;
}

img {
  width: 100%;
  max-width: 200px;
  min-width: 120px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
